<%= render "home/site_navigators"%>
<div class="divider"></div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="row">
      <a href="http://petroleum.nic.in/dbt/index.php" target="_blank">
        <div class="col-md-2">
          <div class="well pahal-section">
            <%= image_tag "abtPAHALimg.jpg", class: "img-responsive" %>
            <h5 class="text-center">About PAHAL</h5>
          </div>
        </div>
      </a>
      <a href="http://petroleum.nic.in/dbt/links.html" target="_blank">  
        <div class="col-md-2">
          <div class="well pahal-section">
            <%= image_tag "uselinksimg.jpg", class: "img-responsive" %>
            <h5 class="text-center">Useful Links</h5>
          </div>
        </div>
      </a>
      <a href="https://resident.uidai.gov.in/web/resident/check-aadhaar-status" target="_blank">
        <div class="col-md-2">
          <div class="well pahal-section">
            <%= image_tag "pahalAdhaarimg.jpg", class: "img-responsive" %>
            <h5 class="text-center">Aadhaar Enrollment</h5>
          </div>
        </div>
      </a>
      <a href="http://petroleum.nic.in/dbt/index.php" target="_blank">
        <div class="col-md-2">
          <div class="well pahal-section">
            <%= image_tag "pahladistrictsimg.jpg", class: "img-responsive" %>
            <h5 class="text-center">PAHAL District</h5>
          </div>
        </div>
      </a>
      <a href="#" target="_blank">
        <div class="col-md-2">
          <div class="well pahal-section">
            <%= image_tag "findPahaling.jpg", class: "img-responsive" %>
            <h5 class="text-center">Find your 17 digit LPG ID</h5>
          </div>
        </div>
      </a>
      <a href="#" target="_blank">
        <div class="col-md-2">
          <div class="well pahal-section">
            <%= image_tag "pahalgriimg.jpg", class: "img-responsive" %>
            <h5 class="text-center">PAHAL Grievances</h5>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>